body {
    font-family: 'WorkSans'sans-serif;
}

.header {
    background-color: #F3C6BD;
    padding: 30px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;

}

.logo>div:first-child {
    margin-right: 15px;
}

.logo-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_li {
    display: inline-block;
}

.header_li:not(:last-child) {
    margin-right: 20px;
}

.header_li > a {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header_li > a:hover {
    font-weight: bold;
}

.header_nav > div {
    margin-left: 75px;
}

.button {
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 26px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;

}

.button:hover {
    background: white;
    color: #3040C4;
    transition: 1s;
}

.main_section {
    background: #F4F5F7;

}

.main_container {
    display: flex;
    margin: 0 auto
}

.text {
    margin: 77px 50px 76px 0;
}

.text1 {
    margin: 77px 180px 76px 0;
}

.question {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.answer {
    max-width: 555px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.company {
    justify-content: flex-end;
    padding: 30px 0;
}